.confirmation-form {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.agreement-confirmation-dialog {
  font-family: "Helvetica Neue",sans-serif;
  display: block;
}

.cancel-btn {
  float: left;
}

.ok-btn {
  float: right;
}
